.buttons {
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: center;
  position: relative;
}

.button {
    background-color: white;
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.button:focus {
  outline: none;
}