#wrapper {
  position: absolute;
  width: 15em;
  height: 30em;
  bottom: 0;
  /*margin-left: -9em;*/
  font-size: 250%;
  font-weight: bold;
  text-align: justify;
  overflow: hidden;
  transform-origin: 50% 100%;
  transform: perspective(300px) rotateX(25deg);
}

#wrapper:after {
  position: absolute;
  content: ' ';
  left: 0;
  right: 0;
  top: 0;
  bottom: 60%;
  pointer-events: none;
}

#quote {
	position: absolute;
	top: 100%;
	animation: scroll 100s linear 2s infinite;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}