.App {
  text-align: center;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Death Star';
  font-size: 30px;
  background-image: url('./galaxy.jpg');
  background-size: 100% 300px;

  /*background-color: #222;*/
  height: cc;
  padding: 20px;
  color: white;
}

