.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-image: url('./card5.jpg');
  background-size: 100% 600px;
  position: relative;
  border: 1px solid pink;
  color: white;
  width: 70%;
  margin: 10px;
}


