
.fav {
  border: none;
  height: 30px;
  width: 30px;
  border: none;
  background: transparent;
  margin-top: -10px;
  margin-bottom: 15px;
}

.fav:focus {
  outline: none;
}

.vader-btn {
  height: 30px;
  width: 30px;
}

.vader-btn:hover {
  cursor: pointer;
}
